
@{
    ViewData["Title"] = "PostNotification";
}

<h1>PostNotification</h1>

<div class="container">
 
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="PostsList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/BlogPost.js"></script>